@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.header-1 {
    background-color: black;
    height: 80px;

}


.nav-inicio a {

    display: inline-block;
    color: white;
    margin-left: 60px;
}

.nav-inicio a {

    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

}

.itens {
    margin-top: -210px;
    padding-left: 15%;
    padding-top: 28px;
}

.nav-inicio img {
    width: 22%;
    margin-top: -90px;
}

a {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

a:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.8s;
}

a:hover {
    color: #ffffff;
}

a:hover:after {
    width: 100%;
}

/* CONTEUDO HOME */

.fundo-home {
    background-image: url(barber.gif);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 9vh;

}

.cont h1 {
    font-size: 50px;
    margin: 0;
    align-items: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);



}

.fundo-home h2 {
    font-size: 50px;
    margin: 0;
    align-items: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);

}

.cont button {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #000000;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: 15vh;

}

.cont button:hover {
    background-color: white;
    color: #000000;




}

.cont p {
    font-size: 50px;
    text-align: center;
    margin-top: 47vh;
    color: #000000;


}

/* QUEM SOMOS */
.container-2 {
    width: 100%;
    height: 700px;
   
}


.foto img {

    width: 40vw;
    height: 110vh;
    margin-top: 15vh;
    margin-left: 13vw;

}

.foto {

    background-image: url('pexels.jpg');
    height: 115vh;
    width: 40vw;
    background-size: cover;
    margin-top: 15vh;
    margin-left: 25vh;

}

.quemsomos {

    background-color: #fffefd;
}

.texto2 h1 {
    width: 100%;
    margin-left: 350px;
    font-size: 60px;
    height: 13vh;

}

.texto2 p {
    margin-left: 600px;
    width: 85%;
    font-size: 30px;


}

/* SERVIÇOS  */

.container-3 {
    width: 100%;
    height: 800px;
}

.foto-2 {

    background-image: url('servi.jpg');
    height: 135vh;
    width: 100%;
    background-size: cover;
    margin: center;


}

.texto3 h1 {
    width: 100%;
    margin-left: 520px;
    font-size: 60px;
    
    color: white;
}

.ser {
font-size: 25px;
color: #ffffff;
text-align: center;


}


/* GALERIA */

.container-4 {
    width: 100%;
    height: 800px;
    background-color: rgb(244, 248, 248);
    
}

.texto-4 h1 {
    width: 100%;
    margin-left: 350px;
    font-size: 60px;
    height: 13vh;
    color: rgb(238, 25, 25);
}

.img-4 img{

height: 45vh;
width: 25vw;
border-radius: 5%;


}
.flex {

    display: flex;
flex-direction: row;
flex-wrap: wrap;
height: 100vh;
}


/* CONTAINER 5 CONTATO  */

.container-5 {
    width: 100%;
    height: 800px;
    background-color: #ff3c78;
}

.Contato {

    background-image: url();
    height: 135vh;
    width: 100%;
    background-size: cover;
    /* margin-top: 15vh; */
    margin: center;
}
.texto-5 h1 {
    width: 100%;
    margin-left: 350px;
    font-size: 60px;
    height: 13vh;
    color: rgb(238, 25, 25);
}



/* width: 80vw; lado
height: 40vh; altura */