@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
margin: 0;
padding: 0;
}


.cont{

    width: 18vw;
    height: 100vh;
    background-color: gray;
    color: white;
    float:left

}

.foto{



}